<h1><%= @perk.name %></h1>

<p><strong>Description </strong><br>
  <%= @perk.description %></p>
<p><strong>Deliverable </strong><br>
  <%= @perk.deliverable %><br></p>
<p><strong>Limited </strong><br>
  <%= @perk.limited %><br></p>
<p><strong>Paid Addon </strong><br>
  <%= @perk.paid_addon %><br></p>

<p><%= link_to "Edit this Perk", edit_perk_path, class: "btn btn-warning" %></p>
<p><%= button_to "Delete Perk", @perk, method: :delete, class: "btn btn-danger" %></p>
<p><%= link_to "Back to All Perks", perks_path, class: "btn btn-primary" %></p>