<h1><%= @event.name %></h1>

<p><strong>Start Date </strong><br>
  <%= prettydate(@event.start_date) %></p>
<p><strong>End Date </strong><br>
  <%= prettydate(@event.end_date) %><br></p>
<p><strong>Location </strong><br>
  <%= @event.location %><br></p>

<%= link_to "Edit Event", edit_event_path, class: "button edit" %>
<%= button_to "Delete Event", @event, method: :delete, class: "button delete" %>

<hr>

<h2>Packages</h2>

<table>
  <tr>
    <th>Package</th>
    <th>Price</th>
  </tr>
  <% @event.packages.sort_by(&:price).reverse.each do |pkg| %>
  <tr>
    <td><%= link_to pkg.name, event_package_path(@event, pkg) %></td>
    <td><%= in_money(pkg.price) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create New Package", new_event_package_path(@event), class: "button create" %><br>

<hr>

<%= link_to "Back to All Events", events_path, class: "button index" %></p>